.input-group{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    margin-bottom: $l-size; 

    @media (min-width:$desktop-breakpoint) {
        flex-direction: row;
        align-items:flex-start;

        
    }
}
.input-group__item{
    margin-bottom: $m-size;
}
